{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<div>
    <img src= '{{ user.image_url }}'>
</div>

<div>
    <h1>{{ user.full_name }}</h1>

    <form>
        <button
            formaction = '/{{ user.id }}/user-edit'
            formmethod = 'GET'>Edit
        </button>
        <button
            formaction = '/{{ user.id }}/delete'
            formaction = 'POST'>Delete
        </button>
    </form>

    <h2>Posts</h2>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <p><a href="/users/{{ user.id }}/posts/new">Add a Post</a></p>

</div>

{% endblock %}