{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<h1>Create a user</h1>

<form method = 'POST'>

    <div>
        <label for = 'first_name'>First Name</label>
        <div>
            <input type = 'text', name = 'first_name', placeholder = 'Enter a first name'>
        </div>
    </div>
    
    <div>
        <label for = 'last_name'>Last Name</label>
        <div>
            <input type = 'text', name = 'last_name', placeholder = 'Enter a last name'>
        </div>
    </div>
    
    <div>
        <label for = 'image_url'>Image image_url</label>
        <div>
            <input type = 'text', name = 'image_url', placeholder = 'Enter an image url'>
        </div>
    </div>
    
    <div>
        <div>
            <button type = 'submit'>Add</button>
        </div>
    </div>
    <p>Image URL</p>

</form>

{% endblock %}